.bg_control {
  width: 100%;
  height: 100vh;
  background-image: url('../src/assets/bg_img.jpeg'); // 更改为您的背景图片文件名
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
